# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/autood?retryWrites=true&w=majority

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=ydqt6jvhoe
CLOUDINARY_API_KEY=215131412821171
CLOUDINARY_API_SECRET=_bIVF4TZg0BYXgYv0JLW6NyF6tw

# Environment
PORT=8000
PYTHON_VERSION=3.9.21
TORCH_HOME=/tmp/torch
