--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
pydantic
opencv-python-headless
pillow
numpy<2.0.0
ultralytics
torch
torchvision
gunicorn
pytorch-lightning
termcolor
tabulate
pycocotools
pyyaml
motor
pymongo
cloudinary
apscheduler
python-dotenv