fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
pydantic==2.10.6
opencv-python-headless==4.10.0.84
pillow==11.0.0
numpy==1.26.4
ultralytics==8.3.61
torch==2.2.2
torchvision==0.17.2
gunicorn==23.0.0
pytorch-lightning
termcolor
tabulate
pycocotools
pyyaml
motor==3.6.0
cloudinary==1.41.0
apscheduler==3.10.4
python-dotenv==1.0.1
--extra-index-url https://download.pytorch.org/whl/cpu